@font-face {
  font-family: 'MuseoSansCyrl';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff2") format("woff2"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf") format("truetype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.svg#MuseoSansCyrl-300") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'MuseoSansCyrl';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff2") format("woff2"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf") format("truetype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.svg#MuseoSansCyrl-700") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'MuseoSansCyrl';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-900.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-900.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-900.woff2") format("woff2"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-900.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-900.ttf") format("truetype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-900.svg#MuseoSansCyrl-900") format("svg");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/fonts/icomoon.eot?r5spku");
  src: url("../fonts/icomoon/icomoon.eot?r5spku#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?r5spku") format("truetype"), url("../fonts/icomoon/icomoon.woff?r5spku") format("woff"), url("../fonts/icomoon/icomoon.svg?r5spku#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"], [class^="icon-"]::before, [class*=" icon-"]::before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-arrow-down:before {
  content: "\e900"; }

.icon-arrow-left:before {
  content: "\e901"; }

.icon-arrow-right:before {
  content: "\e902"; }

.icon-arrow-up:before {
  content: "\e903"; }

.icon-clock:before {
  content: "\e904"; }

.icon-diagram:before {
  content: "\e905"; }

.icon-disability:before {
  content: "\e906"; }

.icon-disabled:before {
  content: "\e907"; }

.icon-eye:before {
  content: "\e908"; }

.icon-medical-history:before {
  content: "\e909"; }

.icon-networking:before {
  content: "\e90a"; }

.icon-organization:before {
  content: "\e90b"; }

.icon-placeholder:before {
  content: "\e90c"; }

.icon-presentation:before {
  content: "\e90d"; }

.icon-search:before {
  content: "\e90e"; }

.icon-smartphone:before {
  content: "\e90f"; }

.icon-star:before {
  content: "\e910"; }

.icon-star-border:before {
  content: "\e911"; }

.icon-student:before {
  content: "\e912"; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  min-height: 500px;
  margin: 0 auto;
  font-family: 'MuseoSansCyrl', sans-serif;
  font-weight: normal;
  font-size: 15px;
  color: #333; }

h1 {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase; }

h2 {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase; }

h3 {
  font-size: 26px; }

h4 {
  font-size: 24px; }

h5 {
  font-size: 18px;
  font-weight: 700; }

h6 {
  font-size: 14px;
  font-weight: 700; }

a {
  color: #1e1e1e;
  text-decoration: none;
  outline: none;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }
  a:hover {
    opacity: 0.7;
    text-decoration: none;
    outline: none;
    color: inherit; }
  a:active {
    opacity: 0.6;
    outline: none;
    color: inherit;
    text-decoration: none; }
  a:focus {
    outline: none;
    color: inherit;
    text-decoration: none; }

button, input, textarea, select {
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }

button:hover, input:hover, textarea:hover, select:hover {
  opacity: 0.8; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

img {
  max-width: 100%; }

p {
  font-size: 15px; }

.container {
  width: 1230px; }

.justify-align {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center; }

.header-top {
  padding: 0 30px;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE; }

.search-form {
  padding: 10px 0;
  min-height: 56px; }

.search-form__input {
  position: relative;
  padding: 0 0 0 30px; }
  .search-form__input::before {
    position: absolute;
    left: 0;
    top: -2px;
    font-size: 25px;
    color: #333; }
  .search-form__input input {
    font-size: 15px;
    border: none;
    outline: none;
    background-color: transparent;
    font-family: "MuseoSansCyrl"; }

.btn {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  color: #333;
  padding: 9px 30px 7px;
  background: #E2E2E2;
  text-align: center;
  text-transform: uppercase;
  border: none;
  outline: none;
  -webkit-border-radius: 30px;
          border-radius: 30px; }
  .btn:hover, .btn:focus {
    color: #333; }

.btn-blue {
  padding: 16px 30px 15px;
  background: #0e4c89;
  color: #fff; }
  .btn-blue:hover, .btn-blue:focus {
    opacity: 1;
    color: #fff;
    -webkit-box-shadow: 0px 3px 8px 0px rgba(14, 76, 137, 0.6);
            box-shadow: 0px 3px 8px 0px rgba(14, 76, 137, 0.6); }

*::-webkit-input-placeholder {
  color: #999;
  font-size: 15px;
  text-indent: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

*:-moz-placeholder {
  color: #999;
  font-size: 15px;
  text-indent: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

*::-moz-placeholder {
  color: #999;
  font-size: 15px;
  text-indent: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

*:-ms-input-placeholder {
  color: #999;
  font-size: 15px;
  text-indent: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

*:focus::-webkit-input-placeholder {
  color: #1b2030;
  text-indent: 620px;
  opacity: 0; }

*:focus::-moz-placeholder {
  color: #1b2030;
  text-indent: 620px;
  opacity: 0; }

*:focus:-moz-placeholder {
  color: #1b2030;
  text-indent: 620px;
  opacity: 0; }

*:focus:-ms-input-placeholder {
  color: #1b2030;
  text-indent: 620px;
  opacity: 0; }

textarea:focus::-webkit-input-placeholder {
  text-indent: 0; }

textarea:focus::-moz-placeholder {
  text-indent: 0; }

textarea:focus:-moz-placeholder {
  text-indent: 0; }

textarea:focus:-ms-input-placeholder {
  text-indent: 0; }

.header-top__blue {
  background: #0e4c89; }

.header-top__blue--links {
  padding: 10px 0;
  text-align: right;
  list-style: none; }
  .header-top__blue--links li {
    display: inline-block;
    margin-left: 60px; }
    .header-top__blue--links li a {
      position: relative;
      padding: 0 0 0 25px;
      font-size: 14px;
      color: #fff;
      top: 0;
      font-family: "MuseoSansCyrl"; }
      .header-top__blue--links li a::before {
        position: absolute;
        left: 0;
        top: 0;
        font-size: 16px; }

.logo-nav {
  background: #DCE3E3; }

.logo {
  position: relative;
  display: inline-block;
  padding: 0 0 0 110px; }
  .logo:hover {
    opacity: 1; }
  .logo img {
    position: absolute;
    left: 0;
    top: -30px;
    z-index: 10; }
  .logo strong {
    font-weight: 900;
    line-height: 22px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
    .logo strong:hover {
      opacity: .8; }

.navbar {
  min-height: 0;
  margin-bottom: 0;
  border: none;
  -webkit-border-radius: 0;
          border-radius: 0; }

.navbar-collapse {
  padding-right: 0;
  padding-left: 0;
  border-top: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

.navbar-nav {
  float: none;
  margin: 0; }

.nav.navbar-nav::before, .nav.navbar-nav::after {
  display: none; }

.navbar-nav > li {
  position: relative;
  float: none;
  display: inline-block;
  vertical-align: middle; }
  .navbar-nav > li:first-child {
    padding-left: 0; }
    .navbar-nav > li:first-child::before {
      display: none; }
  .navbar-nav > li:last-child a {
    padding-right: 0; }
  .navbar-nav > li > a {
    position: relative;
    display: block;
    padding: 22px 17px;
    font-size: 14px;
    font-weight: 700;
    border: none;
    text-transform: uppercase; }
    .navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
      opacity: 1;
      color: #0e4c89;
      background-color: transparent; }

.slick-slide {
  outline: none; }

.banner-item {
  position: relative; }
  .banner-item img {
    margin: 0 auto; }

.banner-item__overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.banner-info {
  padding: 0 0 0 180px; }
  .banner-info p {
    font-size: 17px; }
  .banner-info .btn {
    margin-top: 30px; }

.banner-info__header {
  margin-bottom: 10px;
  font-size: 40px;
  line-height: 44px;
  text-transform: uppercase; }

.slick-dots {
  bottom: 14px; }
  .slick-dots li {
    margin: 0 1px; }
    .slick-dots li button {
      display: block;
      width: 10px;
      height: 10px;
      padding: 0;
      border: none;
      background: transparent;
      -webkit-border-radius: 0;
              border-radius: 0;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      background: #fff; }
      .slick-dots li button::before {
        display: none; }
    .slick-dots li.slick-active button {
      background: #0e4c89; }
      .slick-dots li.slick-active button::before {
        display: none; }

.grey-links {
  margin-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #eee; }
  .grey-links a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 48px;
    padding: 0 0 0 42px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background: #eee;
    font-weight: 700;
    font-family: "MuseoSansCyrl"; }
    .grey-links a::before {
      position: absolute;
      left: 30px;
      top: 15px;
      color: #0e4c89;
      font-size: 18px;
      font-weight: bold; }

.icon-block {
  margin-bottom: 30px; }

.icon-block__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  height: 215px;
  font-family: "MuseoSansCyrl";
  background: url(../img/grey-bg.jpg); }
  .icon-block__item:hover {
    opacity: 1;
    -webkit-box-shadow: 3px 3px 12px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 3px 3px 12px 0px rgba(0, 0, 0, 0.2); }
  .icon-block__item .icon {
    font-size: 52px;
    color: #0e4c89; }
  .icon-block__item span {
    display: block;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px; }

.icon-block__icon {
  height: 75px; }

.news-block__item {
  position: relative;
  display: block;
  margin-bottom: 30px;
  overflow: hidden; }
  .news-block__item:hover {
    opacity: 1; }
    .news-block__item:hover img {
      -webkit-transform: scale(1.2);
          -ms-transform: scale(1.2);
              transform: scale(1.2); }
    .news-block__item:hover .news-block__title {
      background: #0e4c89;
      color: #fff;
      -webkit-box-shadow: 0px 2px 12px 0px rgba(14, 76, 137, 0.55);
              box-shadow: 0px 2px 12px 0px rgba(14, 76, 137, 0.55); }
  .news-block__item img {
    -webkit-transition: all .6s;
    -o-transition: all .6s;
    transition: all .6s; }

.news-block__title {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 13px 20px;
  font-size: 18px;
  background: #F4F4F4;
  font-weight: 700;
  -webkit-border-radius: 0 20px 0 0;
          border-radius: 0 20px 0 0;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  .news-block__title.fz15 {
    font-size: 15px; }

.news-slider__wrap {
  padding: 40px 0 0;
  border-top: 1px solid #eee; }
  .news-slider__wrap .justify-align {
    margin-bottom: 30px; }

.news-slider {
  margin-right: -15px;
  margin-left: -15px;
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid #eee; }

.news-slider__item {
  margin-right: 15px;
  margin-left: 15px; }
  .news-slider__item p {
    line-height: 24px; }

.news-slider__img {
  position: relative;
  margin-bottom: 45px; }
  .news-slider__img > a {
    display: block;
    opacity: 1;
    overflow: hidden; }
    .news-slider__img > a img {
      -webkit-transition: all .6s;
      -o-transition: all .6s;
      transition: all .6s; }
  .news-slider__img .btn {
    position: absolute;
    left: 7px;
    bottom: -15px; }
  .news-slider__img:hover .btn {
    background: #0e4c89;
    color: #fff;
    -webkit-box-shadow: 0px 3px 8px 0px rgba(14, 76, 137, 0.6);
            box-shadow: 0px 3px 8px 0px rgba(14, 76, 137, 0.6);
    opacity: 1; }
  .news-slider__img:hover > a img {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2); }

.slick-arrow {
  width: 48px;
  height: 48px;
  line-height: 48px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #F3F3F3;
  opacity: 1; }
  .slick-arrow:hover, .slick-arrow:focus {
    background: #F3F3F3; }

.slick-next:before {
  content: '\e902'; }

.slick-prev:before {
  content: '\e901'; }

.slick-next:before, .slick-prev:before {
  font-size: 26px;
  color: #626262;
  font-family: "icomoon";
  vertical-align: middle;
  color: #000;
  opacity: 1; }

.slick-prev {
  left: -10px;
  top: 30%; }

.slick-next {
  right: -10px;
  top: 30%; }

.img-block {
  position: relative;
  margin-bottom: 60px;
  background: url(../img/grey-bg.jpg); }
  .img-block::before {
    content: '';
    position: absolute;
    bottom: -13px;
    left: 12%;
    width: 25px;
    height: 13px;
    background: url(../img/angle-bottom.png); }

.img-block__img {
  position: relative;
  min-height: 250px;
  width: 306px;
  padding: 160px 15px 0;
  text-align: center; }
  .img-block__img img {
    position: absolute;
    top: -32px;
    left: 0;
    right: 0;
    margin: 0 auto; }
  .img-block__img h5 {
    margin-bottom: 10px; }

.img-block__status {
  font-size: 14px;
  color: #999; }

.img-block__text {
  padding: 40px 50px 40px 0;
  width: -webkit-calc(100% - 306px);
  width: calc(100% - 306px); }
  .img-block__text h5 {
    margin-bottom: 15px; }
  .img-block__text p {
    line-height: 24px; }

footer {
  padding: 45px 0 0;
  background: #F3F3F3; }

.footer-item {
  padding-bottom: 30px; }
  .footer-item h6 {
    position: relative;
    padding: 0 0 15px;
    margin-bottom: 20px;
    text-transform: uppercase; }
    .footer-item h6::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 60px;
      height: 2px;
      background: #0e4c89; }

.footer-contact__list {
  list-style: none; }
  .footer-contact__list li {
    position: relative;
    padding: 0 0 0 35px;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 20px;
    font-family: "MuseoSansCyrl"; }
    .footer-contact__list li::before {
      position: absolute;
      left: 0;
      top: 0;
      font-size: 20px; }
    .footer-contact__list li.icon-smartphone::before {
      font-size: 22px; }
    .footer-contact__list li.icon-smartphone strong {
      font-size: 24px; }
    .footer-contact__list li.icon-smartphone span {
      font-size: 18px; }
    .footer-contact__list li.icon-placeholder::before {
      font-size: 20px; }
    .footer-contact__list li.icon-clock::before {
      font-size: 18px; }
    .footer-contact__list li strong {
      font-weight: 700; }

.footer-links {
  list-style: none; }
  .footer-links li {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px; }

.copyright {
  padding: 12px 0 11px;
  text-align: center;
  background: #ebebeb; }
  .copyright p {
    font-size: 14px;
    color: #999; }
  .copyright a {
    color: #999; }

.inner {
  padding: 42px 0 60px; }
  .inner h1 {
    margin-bottom: 40px; }

.breadcrumbs {
  margin: 0 0 10px;
  list-style: none; }
  .breadcrumbs li {
    display: inline-block;
    margin-right: -0.03em;
    color: #0e4c89;
    font-weight: 700; }
    .breadcrumbs li + li::before {
      content: "/";
      font-size: 11px;
      color: #ccc;
      padding: 0 8px 0 3px; }
    .breadcrumbs li a {
      color: #333;
      font-weight: 300; }

.article-img {
  position: relative; }
  .article-img img {
    display: block;
    margin: 0; }

.article-img__info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 130px;
  padding: 0 50px 0 110px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(35%, rgba(255, 255, 255, 0.64)), color-stop(45%, rgba(255, 255, 255, 0.71)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.64) 35%, rgba(255, 255, 255, 0.71) 45%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.64) 35%, rgba(255, 255, 255, 0.71) 45%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.64) 35%, rgba(255, 255, 255, 0.71) 45%); }
  .article-img__info::before {
    content: '';
    position: absolute;
    left: 25px;
    top: 21px;
    width: 71px;
    height: 78px;
    background: url(../img/logo.png);
    -webkit-background-size: contain;
            background-size: contain; }
  .article-img__info p {
    margin: 0;
    font-size: 18px;
    color: #0e4c89;
    font-weight: 700;
    line-height: normal; }

.article-img__date {
  padding: 35px 0 20px; }
  .article-img__date span {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    color: #999; }
    .article-img__date span:last-child {
      padding-left: 15px; }

article img {
  display: block;
  margin-bottom: 20px; }

article p {
  margin-bottom: 20px;
  line-height: 24px; }
  article p a {
    text-decoration: underline;
    color: #0e4c89; }

article h2 {
  margin-bottom: 20px;
  font-size: 24px; }

article h3 {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 700; }

article h4 {
  margin-bottom: 15px;
  font-size: 17px;
  font-weight: 700; }

article hr {
  border-color: #EEEEEE; }

article table {
  width: 100%;
  border-collapse: collapse; }
  article table tr:first-child td {
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    background: #0e4c89;
    border-color: #0e4c89; }
  article table tr td {
    padding: 25px 28px;
    font-size: 14px;
    line-height: 20px;
    border: 2px solid #DCE3E3; }

article ol {
  margin-bottom: 25px;
  list-style: none;
  counter-reset: item; }
  article ol li {
    position: relative;
    counter-increment: item;
    padding: 0 0 0 40px;
    margin-bottom: 15px; }
    article ol li::before {
      content: counter(item);
      position: absolute;
      left: 0;
      top: -2px;
      width: 24px;
      height: 24px;
      line-height: 24px;
      text-align: center;
      color: #fff;
      font-size: 13px;
      font-weight: 700;
      background: #0e4c89;
      -webkit-border-radius: 50%;
              border-radius: 50%; }

article ul, .sidebar ul {
  margin-bottom: 20px;
  list-style: none; }
  article ul li, .sidebar ul li {
    position: relative;
    padding: 0 0 0 18px;
    margin-bottom: 15px; }
    article ul li::before, .sidebar ul li::before {
      content: '';
      position: absolute;
      left: 0;
      top: 6px;
      width: 4px;
      height: 4px;
      background: #0e4c89;
      -webkit-border-radius: 50%;
              border-radius: 50%; }
    article ul li a, .sidebar ul li a {
      text-decoration: underline;
      font-size: 14px; }

.sidebar ul li {
  margin-bottom: 10px; }

.sidebar h3 {
  position: relative;
  padding: 0 0 8px;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 18px; }
  .sidebar h3::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: url(../img/divider-ic.png); }

.sidebar h4 {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 10px;
  line-height: 24px; }

.map {
  padding-bottom: 60px; }

#YMapsID {
  height: 450px;
  width: 100%; }

.map-info {
  position: relative;
  min-width: 300px;
  padding: 10px 20px;
  background: #0e4c89;
  color: #fff;
  font-size: 15px;
  line-height: 22px; }
  .map-info::before {
    content: '';
    position: absolute;
    left: 34%;
    top: -100px;
    width: 98px;
    height: 108px;
    background: url(../img/logo.png);
    -webkit-background-size: contain;
            background-size: contain; }
  .map-info::after {
    content: '';
    position: absolute;
    left: 45%;
    bottom: -22px;
    border: 12px solid transparent;
    border-top: 12px solid #0e4c89; }

.contacts .footer-contact__list {
  margin-bottom: 20px; }
  .contacts .footer-contact__list li {
    font-size: 18px; }

.fz14 {
  font-size: 14px; }

.feedback-form {
  padding: 30px 50px 40px;
  border: 2px solid #0e4c89; }
  .feedback-form h2 {
    margin-bottom: 35px;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase; }

.form-input {
  width: 100%;
  height: 55px;
  padding: 0 0 0 20px;
  margin-bottom: 15px;
  font-size: 15px;
  border: 2px solid #eee;
  outline: none; }
  .form-input:focus {
    border-color: #0e4c89;
    opacity: 1; }

.radio-list {
  margin-bottom: 20px;
  list-style: none; }
  .radio-list li {
    display: inline-block;
    margin-right: 50px; }
    .radio-list li:last-child {
      margin-right: 0; }
  .radio-list [type="radio"]:checked, .radio-list [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px; }
  .radio-list [type="radio"]:checked + label, .radio-list [type="radio"]:not(:checked) + label {
    position: relative;
    margin: 0;
    padding: 0 0 0 28px;
    cursor: pointer;
    font-size: 15px; }
  .radio-list [type="radio"]:checked + label:before, .radio-list [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0px;
    width: 16px;
    height: 16px;
    -webkit-border-radius: 100%;
            border-radius: 100%;
    border: 2px solid #ccc; }
  .radio-list [type="radio"]:checked + label:before {
    border: 2px solid #0e4c89; }
  .radio-list [type="radio"]:checked + label:after {
    content: '';
    width: 6px;
    height: 6px;
    background: #0e4c89;
    position: absolute;
    top: 5px;
    left: 5px;
    -webkit-border-radius: 100%;
            border-radius: 100%; }

.check-list {
  margin-bottom: 20px;
  list-style: none; }
  .check-list li {
    display: inline-block;
    margin-right: 50px; }
    .check-list li:last-child {
      margin-right: 0; }
  .check-list input[type="checkbox"] {
    display: none; }
    .check-list input[type="checkbox"] + label {
      position: relative;
      display: inline-block;
      padding: 0 0 0 28px;
      cursor: pointer;
      font-size: 15px;
      line-height: normal; }
      .check-list input[type="checkbox"] + label::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 16px;
        height: 16px;
        border: 2px solid #ccc;
        background: #fff; }
    .check-list input[type="checkbox"]:checked + label::after {
      content: '';
      position: absolute;
      left: 4px;
      top: 3px;
      width: 12px;
      height: 10px;
      background: url(../img/check-ic.png); }
    .check-list input[type="checkbox"]:checked + label::before {
      border-color: #0e4c89; }

.select-box {
  width: 100%;
  font-size: 15px;
  outline: none;
  margin-bottom: 15px; }

.jq-selectbox {
  display: block; }

.jq-selectbox__select {
  position: relative;
  width: 100%;
  height: 55px;
  line-height: 55px;
  font-size: 15px;
  border: 2px solid #eee;
  outline: none;
  background-color: transparent; }

.jq-selectbox__select-text {
  padding: 0 25px 0 20px;
  color: #999; }
  .jq-selectbox__select-text::before {
    content: '\e900';
    position: absolute;
    right: 20px;
    top: 20px;
    font-family: 'icomoon';
    font-size: 18px;
    line-height: 18px; }

.jq-selectbox__dropdown {
  width: 100%;
  z-index: 110;
  -webkit-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.12);
  background: #fff; }
  .jq-selectbox__dropdown > ul#F1F4F4 {
    background: #fff; }
  .jq-selectbox__dropdown li {
    padding: 15px 20px;
    font-size: 15px;
    color: #999; }
    .jq-selectbox__dropdown li:hover {
      background: #F1F4F4; }

textarea.form-input {
  padding: 15px 20px;
  height: 200px; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.form p {
  font-size: 14px;
  color: #999;
  line-height: 20px; }

.form .btn {
  margin-top: 35px; }

@media only screen and (max-width: 1260px) {
  .container {
    width: 970px; }
  .navbar-nav > li > a {
    padding: 22px 10px;
    font-size: 12px; }
  .logo {
    padding: 0 0 0 94px; }
    .logo strong {
      font-size: 12px;
      line-height: 18px; }
    .logo img {
      max-width: 80px; }
  .banner-info {
    padding: 0 0 0 140px; }
    .banner-info .btn {
      margin-top: 15px; }
  .banner-info__header {
    font-size: 30px;
    line-height: 34px; }
  .grey-links a {
    font-size: 12px; }
  .news-block__title {
    font-size: 14px; }
    .news-block__title.fz15 {
      font-size: 12px; }
  .news-slider__item {
    text-align: center; }
  .news-slider__img {
    display: inline-block; } }

@media only screen and (max-width: 991px) {
  .container {
    width: 750px; }
  .logo strong {
    display: none; }
  .logo img {
    top: -45px; }
  .banner-info p {
    font-size: 14px; }
  .banner-info .btn {
    margin-top: 10px; }
  .banner-info__header {
    font-size: 18px;
    line-height: 20px; }
  .btn {
    font-size: 12px; }
  .btn-blue {
    padding: 10px 30px 10px; }
  .slick-dots {
    bottom: 0; }
  .search-form {
    padding: 5px 0;
    min-height: 40px; }
  .header-top__blue--links li {
    margin-left: 40px; }
    .header-top__blue--links li a {
      font-size: 12px; }
  h2 {
    font-size: 24px; }
  .news-slider {
    padding-bottom: 30px;
    margin-bottom: 30px; }
  h1 {
    font-size: 24px; }
  .inner {
    padding: 30px 0 30px; }
    .inner h1 {
      margin-bottom: 30px; }
  .article-img__info {
    height: 110px; }
  article h2 {
    margin-bottom: 20px;
    font-size: 20px; }
  article table tr td {
    padding: 10px 15px; }
  #YMapsID {
    height: 350px; }
  .map {
    padding-bottom: 35px; }
  .contacts .footer-contact__list li {
    display: block;
    margin-bottom: 15px; }
  .check-list li {
    display: inline-block;
    margin: 0 10px 10px 0; }
  .radio-list li {
    display: inline-block;
    margin: 0 10px 10px 0; }
  .feedback-form {
    padding: 30px; } }

@media only screen and (max-width: 767px) {
  .container {
    width: auto; }
  .logo {
    padding: 10px 0;
    display: inline-block; }
    .logo img {
      position: static;
      display: block;
      max-width: 60px; }
  .logo-nav .justify-align {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .navbar {
    margin-top: 35px; }
  .navbar-header {
    text-align: right; }
  .navbar-toggle {
    display: inline-block;
    float: none;
    margin: 0 0 10px;
    padding: 0; }
    .navbar-toggle .icon-bar {
      position: relative;
      height: 3px;
      width: 25px;
      background: #0e4c89;
      -webkit-transition: all .2s ease;
      -o-transition: all .2s ease;
      transition: all .2s ease; }
    .navbar-toggle.active .icon-bar {
      margin: 0; }
      .navbar-toggle.active .icon-bar:nth-of-type(1) {
        top: 7px;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg); }
      .navbar-toggle.active .icon-bar:nth-of-type(2) {
        background-color: transparent; }
      .navbar-toggle.active .icon-bar:nth-of-type(3) {
        top: -9px;
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg); }
    .navbar-toggle .icon-bar + .icon-bar {
      margin-top: 5px; }
  .nav.navbar-nav {
    display: none; }
  .nav.navbar-nav.active {
    display: block; }
  .navbar-nav {
    position: relative;
    width: 100%;
    padding-bottom: 5px; }
    .navbar-nav > li {
      display: block;
      padding: 0;
      text-align: center; }
      .navbar-nav > li::before {
        content: ''; }
      .navbar-nav > li > a {
        position: relative;
        display: block;
        text-align: left;
        padding: 10px 0;
        font-size: 14px;
        text-transform: uppercase;
        min-height: 0;
        line-height: normal;
        border-top: 1px solid #ccc; }
  .slick-prev {
    left: 0; }
  .slick-next {
    right: 0; }
  .banner-info {
    padding: 0; }
  .banner-item__overlay {
    position: static;
    text-align: center;
    padding: 20px 0 40px; }
  .slick-dots li button {
    background: #ccc; }
  .grey-links .row [class^="col"] a {
    font-size: 14px;
    margin: 0 0 15px; }
  .grey-links .row [class^="col"]:last-of-type a {
    margin-bottom: 0; }
  .icon-block__item {
    height: 170px;
    margin-bottom: 15px; }
  .news-block {
    text-align: center; }
  .news-block__item {
    display: inline-block; }
  .img-block {
    display: block; }
  .img-block__img {
    min-height: 220px;
    width: auto; }
  .img-block__text {
    width: auto;
    padding: 30px 15px;
    text-align: center; }
  .footer-item {
    text-align: center; }
  .footer-contact__list {
    display: inline-block; }
  .footer-item h6::before {
    display: none; }
  .sidebar {
    padding: 50px 0 0; }
    .sidebar h3 {
      text-align: center; }
    .sidebar h4 {
      text-align: center; }
  article img {
    margin: 0 auto 15px; }
  article h1 {
    text-align: center; }
  article h2 {
    text-align: center; }
  article h3 {
    text-align: center; }
  #YMapsID {
    height: 250px; }
  .captcha.text-right {
    text-align: left; }
  .map-info {
    min-width: auto;
    padding: 10px 14px;
    font-size: 10px;
    line-height: 18px; }
    .map-info::before {
      display: none; }
  .feedback-form {
    padding: 15px; } }

@media only screen and (max-width: 550px) {
  .header-top {
    padding: 0;
    border: none; }
  .search-form__input {
    padding: 0 0 0 25px; }
    .search-form__input::before {
      top: 1px;
      font-size: 20px; }
  .header-top__blue {
    display: none; }
  article table tr:first-child td {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 10px; }
  article table tr td {
    padding: 8px 5px;
    font-size: 10px;
    line-height: 12px;
    border-width: 1px; }
  h1 {
    font-size: 22px; }
  article p {
    font-size: 14px;
    line-height: 22px; } }
